<tr>
     <th><%= ThotWorker.find(index).name %></th>
     <td><%= Relationship.times_paired(index,1) %></td>
     <td><%= Relationship.times_paired(index,3) %></td>
     <td><%= Relationship.times_paired(index,4) %></td>
</tr>